[Unit]
Description=DIMM Inventory Population for Slot %i
After=xyz.openbmc_project.Settings.service
After=host-poweron@%i.service
Before=obmc-host-start@%i.target

[Service]
Type=simple
ExecStart=/usr/libexec/dimm-inventory/dimm-inventory %i

[Install]
WantedBy=obmc-host-start@%i.target
