[Unit]
Description=System Logging Service
Requires=syslog.socket
Documentation=man:rsyslogd(8)
Documentation=http://www.rsyslog.com/doc/

[Service]
ExecStart=@sbindir@/rsyslogd -n
Restart=on-failure
UMask=0066
StandardOutput=null

[Install]
WantedBy=multi-user.target
Alias=syslog.service
