[Unit]
Description=Marvell switch initialization for EVT bring-up

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/ftdi-mdio/marvell-switch-init_evt
