#
# GrandCanyon specific kernel config options; used for kernel version 5.x
# or newer versions.
#

#
# TPM drivers
#
CONFIG_TCG_TPM=y
CONFIG_TCG_TIS_CORE=y
CONFIG_TCG_TIS=y
CONFIG_TCG_TIS_SPI=m

#
# PWM/TACHO driver
#
#CONFIG_SENSORS_ASPEED_PWM_TECHOMETER=y
CONFIG_PWM=y
CONFIG_SENSORS_PWM_FAN=y
CONFIG_ARCH_ASPEED=y
CONFIG_PWM_ASPEED_AST2600=y
CONFIG_SENSORS_TACH_ASPEED_G6=y

# I2C drivers
#
CONFIG_I2C=y

#
# Slave mqueue for ipmb
#
CONFIG_I2C_SLAVE_MQUEUE=m
CONFIG_I2C_SLAVE_MQUEUE_QUEUE_SIZE=32
CONFIG_I2C_SLAVE_MQUEUE_MESSAGE_SIZE=256

#
# Aspeed SPI controller master driver and spi-gpio
#
CONFIG_SPI_ASPEED=y
CONFIG_SPI_GPIO=y

#
# Jtag driver
#
CONFIG_JTAG=y
CONFIG_HAS_IOMEM=y
CONFIG_COMPILE_TEST=y
CONFIG_JTAG_ASPEED=y
CONFIG_JTAG_ASPEED_LEGACY_UIO=y

#
# ADC128 driver
#
CONFIG_SENSORS_ADC128D818=m

#
# ADS1015 driver
#
CONFIG_TI_ADS1015=m

#
# UHCI/EHCI driver
#
CONFIG_USB_UHCI_HCD=y
CONFIG_USB_STORAGE=y
CONFIG_USB_F_HID=y

CONFIG_DEBUG_FS=y

#
# NC-SI driver
#
CONFIG_NCSI_OEM_CMD_BCM_GMAC16=y

#
# MAX31790 driver
#

CONFIG_SENSORS_MAX31790=y

#
# PECI driver
#
CONFIG_PECI=y
CONFIG_PECI_ASPEED=y
CONFIG_PECI_CHARDEV=y
CONFIG_MFD_INTEL_PECI_CLIENT=y
CONFIG_SENSORS_PECI_CPUTEMP=y
CONFIG_SENSORS_PECI_DIMMTEMP=y

#
# IPMI
#
CONFIG_IPMI_HANDLER=y
CONFIG_IPMI_PLAT_DATA=y
CONFIG_IPMI_SI=y
CONFIG_IPMI_DEVICE_INTERFACE=y
CONFIG_IPMI_KCS_BMC_CDEV_IPMI=y
CONFIG_IPMI_KCS_BMC_CDEV_RAW=y

