# Copyright 2026-present Facebook. All Rights Reserved.
#
# This program file is free software; you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by the
# Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
# for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program in a file named COPYING; if not, write to the
# Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor,
# Boston, MA 02110-1301 USA

# Persist host and BMC console records across resets.
CONFIG_PSTORE=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_PMSG=y
CONFIG_PSTORE_RAM=y

# Host IPMI uses the SSIF BMC endpoint on SMB4.
CONFIG_I2C_SLAVE=y
CONFIG_IPMI_HANDLER=y
CONFIG_SSIF_IPMI_BMC=y

# Board EEPROMs are AT24-compatible devices on the BMC I2C buses.
CONFIG_EEPROM_AT24=y

# gpiocli and setup-gpio.sh use the GPIO sysfs ABI.
CONFIG_GPIO_SYSFS=y

# Overlayfs stores redirect and UUID metadata as extended attributes on rwfs.
CONFIG_UBIFS_FS_XATTR=y

# SPI1 exposes the muxed CPU Aboot flash and SPI2 hosts the SLB9672 TPM
# through the AST2700 TX/RX controller.
CONFIG_SPI_ASPEED_TXRX=y
CONFIG_TCG_TPM=y
CONFIG_TCG_TIS_SPI=y

# Aristabmc uses the AST2700 virtual hub for its USB gadget functions.
CONFIG_USB_ASPEED_VHUB=y
CONFIG_USB_STORAGE=m
CONFIG_USB_LIBCOMPOSITE=m
CONFIG_USB_F_ACM=m
CONFIG_USB_U_SERIAL=m
CONFIG_USB_U_ETHER=m
CONFIG_USB_F_SERIAL=m
CONFIG_USB_F_NCM=m
CONFIG_USB_F_ECM=m
CONFIG_USB_F_EEM=m
CONFIG_USB_F_SUBSET=m
CONFIG_USB_F_RNDIS=m
CONFIG_USB_F_MASS_STORAGE=m
CONFIG_USB_F_HID=m
CONFIG_USB_CONFIGFS=y
CONFIG_USB_CONFIGFS_SERIAL=y
CONFIG_USB_CONFIGFS_ACM=y
CONFIG_USB_CONFIGFS_NCM=y
CONFIG_USB_CONFIGFS_ECM=y
CONFIG_USB_CONFIGFS_ECM_SUBSET=y
CONFIG_USB_CONFIGFS_EEM=y
CONFIG_USB_CONFIGFS_MASS_STORAGE=y
CONFIG_USB_CONFIGFS_F_HID=y
CONFIG_USB_ETH=m
CONFIG_USB_ETH_RNDIS=y
CONFIG_USB_ETH_EEM=y
CONFIG_USB_G_NCM=m
CONFIG_USB_CDC_COMPOSITE=m

CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_8250_ASPEED=y
CONFIG_SERIAL_8250_NR_UARTS=23
CONFIG_SERIAL_8250_RUNTIME_UARTS=23
CONFIG_ASPEED_UDMA=y
