version: 2.1
jobs:
    lint:
        docker:
            - image: ubuntu:focal
        resource_class: small
        steps:
            - run:
                name: Install Ubuntu dependencies.
                command: |
                    apt-get update
                    apt-get install -y \
                        git \
                        python3-pip \
                        shellcheck \
                        cppcheck
            - run:
                name: Install 'black'.
                command: |
                    python3 -m pip install "black==19.3b0"
            - checkout
            - run:
                name: Run lint.
                command: |
                    ./tools/circle-ci/do-lint
    setup:
        docker:
            - image: crops/poky:latest
        resource_class: small
        working_directory: /tmp/job/project
        steps:
            - checkout
            - run:
                name: Sync Yocto repositories.
                command: |
                    ./sync_yocto.sh
            - persist_to_workspace:
                root: /tmp/job
                paths:
                    - project
    unit-test:
        docker:
            - image: crops/poky:latest
              environment:
                  MACHINE: qemux86
                  CACHE_DIR: /tmp/job/sstate-cache
                  CACHE_URI: https://fb-openbmc-sstate.s3.us-east-2.amazonaws.com
              user: root
        resource_class: xlarge
        working_directory: /tmp/job/project
        steps:
            - attach_workspace:
                at: /tmp/job
            - run:
                name: Adding usersetup to sudoer
                command: |
                    sed -e '/usersetup/ s/^#*/#/' -i /etc/sudoers.usersetup
                    echo "usersetup ALL=(ALL) NOPASSWD:ALL" >> /etc/sudoers.usersetup
            - run:
                name: Update working folder ownership
                command: |
                    chown -R usersetup:usersetup /tmp/job
            - run:
                name: Check build required.
                command: |
                    runuser -m usersetup -c './tools/circle-ci/check-build-required ptest'
            - run:
                name: Download sstate cache.
                command: |
                    runuser -m usersetup -c './tools/circle-ci/download-sstate-cache'
            - run:
                name: Build qemux86 and run package-test within
                command: |
                    runuser -m usersetup -c 'python3 tests2/ptest-runner -b build --force-rebuild --verbose'
    build:
        parameters:
            machine:
                type: string
        docker:
            - image: crops/poky:latest
              environment:
                  MACHINE: << parameters.machine >>
                  CACHE_DIR: /tmp/job/sstate-cache
                  CACHE_URI: https://fb-openbmc-sstate.s3.us-east-2.amazonaws.com
        resource_class: xlarge
        working_directory: /tmp/job/project
        steps:
            - attach_workspace:
                at: /tmp/job
            - run:
                name: Check build required.
                command: |
                    ./tools/circle-ci/check-build-required
            - run:
                name: Download sstate cache.
                command: |
                    ./tools/circle-ci/download-sstate-cache
            - run:
                name: Do build.
                command: |
                    ./tools/circle-ci/do-build
workflows:
    version: 2
    everything:
        jobs:
            - lint
            - setup
            - unit-test:
                requires:
                    - setup
            - build:
                requires:
                    - setup
                    - unit-test
                matrix:
                    parameters:
                        machine: [
                            angelslanding,
                            cmm,
                            elbert,
                            emeraldpools,
                            clearcreek,
                            cloudripper,
                            fbgp2,
                            fbtp,
                            fbttn,
                            fby2,
                            fby3,
                            fuji,
                            galaxy100,
                            grandcanyon,
                            lightning,
                            minipack,
                            northdome,
                            sonorapass,
                            wedge,
                            wedge100,
                            wedge400,
                            yamp,
                            yosemite,
                            qemux86,
                            ]
