#
# Local configuration file for building the OpenBMC image.
#

# Machine Selection
MACHINE ??= "churchillmono"

# OpenBMC distro settings - Keeping as openbmc-fb to avoid incompatibilities
DISTRO ?= "openbmc-fb"
