LCONF_VERSION = "7"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

#
# Please refer to below patch for fbdarwin-to-lfdarwin transition:
# https://github.com/facebook/openbmc/commit/7a881d07f295e8ebe24922d9e6412650462bae29
#
BBLAYERS ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/meta-openembedded/meta-oe \
  ##OEROOT##/meta-openembedded/meta-networking \
  ##OEROOT##/meta-openembedded/meta-perl \
  ##OEROOT##/meta-openembedded/meta-python \
  ##OEROOT##/meta-openembedded/meta-webserver \
  ##OEROOT##/meta-security \
  ##OEROOT##/meta-security/meta-tpm \
  ##OEROOT##/../.. \
  ##OEROOT##/../../meta-aspeed \
  ##OEROOT##/../../meta-facebook \
  ##OEROOT##/../../meta-facebook/meta-python3 \
  ##OEROOT##/../../meta-facebook/meta-backports \
  ##OEROOT##/../../meta-facebook/meta-fbdarwin \
  ##OEROOT##/../../meta-facebook/meta-fboss-lite \
  "
