LCONF_VERSION = "8"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/meta-openembedded/meta-oe \
  ##OEROOT##/meta-openembedded/meta-networking \
  ##OEROOT##/meta-openembedded/meta-perl \
  ##OEROOT##/meta-openembedded/meta-python \
  ##OEROOT##/meta-openembedded/meta-webserver \
  ##OEROOT##/meta-security \
  ##OEROOT##/meta-security/meta-tpm \
  ##OEROOT##/meta-phosphor \
  ##OEROOT##/meta-aspeed \
  ##OEROOT##/meta-facebook \
  ##OEROOT##/meta-facebook/meta-fbdarwin \
  ##OEROOT##/../.. \
  ##OEROOT##/../../meta-facebook \
  ##OEROOT##/../../meta-facebook/meta-lfdarwin \
  ##OEROOT##/../../meta-facebook/meta-python3 \
  ##OEROOT##/../../meta-facebook/meta-backports \
  "
