[Unit]
Description=Sync HMC Datetime
After=platform-sys-init.service

[Service]
Type=simple
ExecStart=/usr/bin/hmc-util --sync-datetime 30 10
SyslogIdentifier=sync-hmc-datetime

[Install]
WantedBy=multi-user.target