[Unit]
Description=MaxLinear XR21GpioMod
Before=update-rs485-rules.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/bash -c ' \
    if /bin/lsusb 2> /dev/null | /bin/grep -q Exar; \
    then /bin/echo "XR21B1424 found" && /usr/bin/gpioset 4 13=0 && /bin/sleep 0.1 && /usr/bin/gpioset 4 13=1; \
    else /bin/echo "XR21B1424 not found"; \
    fi'
ExecStart=/usr/libexec/ventura/gpio5_auto_rs485.py
SyslogIdentifier=Ventura XR21 GPIO MOD

[Install]
WantedBy=multi-user.target
