#
## EEPROM
#
CONFIG_EEPROM_AT24=m

# slave mqueue buffer size
#
CONFIG_I2C_SLAVE_MQUEUE=m
CONFIG_I2C_SLAVE_MQUEUE_QUEUE_SIZE=32
CONFIG_I2C_SLAVE_MQUEUE_MESSAGE_SIZE=256

#
# PHY drivers
#
CONFIG_OF_MDIO=y
CONFIG_MARVELL_PHY=y

# IPMI
#
CONFIG_IPMI_HANDLER=y
CONFIG_IPMI_KCS_BMC_CDEV_IPMI=y
CONFIG_IPMI_KCS_BMC_CDEV_RAW=y

#
# Aspeed SPI controller master driver
#
CONFIG_SPI_ASPEED=y
CONFIG_SPI_GPIO=y

#
# TPM drivers
#
CONFIG_TCG_TPM=y
CONFIG_TCG_TIS_CORE=y
CONFIG_TCG_TIS=y
CONFIG_TCG_TIS_SPI=m

# Jtag driver
#
CONFIG_JTAG=y
CONFIG_HAS_IOMEM=y
CONFIG_COMPILE_TEST=y
CONFIG_JTAG_ASPEED=y
CONFIG_JTAG_ASPEED_LEGACY_UIO=y
