[Unit]
Description=Monitor USB Serial health

[Service]
Type=oneshot
ExecStart=/usr/libexec/usb-serial-monitor

[Install]
WantedBy=multi-user.target

