[Unit]
Description=Monitor USB Serial health

[Service]
Type=oneshot
ExecStart=flock /tmp/modbus_dynamo_solitonbeam.lock /usr/libexec/usb-serial-monitor

[Install]
WantedBy=multi-user.target

