# CONFIG_FB is not set
# CONFIG_INPUT_MOUSE is not set
# CONFIG_WIRELESS is not set
# CONFIG_WLAN is not set

# CONFIG_PCI is not set
# CONFIG_ASPEED_HOST_BMC_DEV is not set
# CONFIG_ASPEED_MCTP is not set
# CONFIG_ASPEED_PCIE_MMBI is not set

CONFIG_HAVE_CLK=y
CONFIG_OF=y
CONFIG_SECURITY=y
CONFIG_SECURITY_NETWORK=y

# aspeed-adc driver
CONFIG_COMMON_CLK=y
CONFIG_ASPEED_ADC=y

# NCSI
CONFIG_NCSI_OEM_CMD_GET_MAC=y

# devmem
CONFIG_DEVMEM=y

# RTC
CONFIG_RTC_DRV_DS1307=y

# USB EHCI
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_EHCI_HCD_PLATFORM=y

# USB UART
#CONFIG_USB_SERIAL=y
#CONFIG_USB_SERIAL_CONSOLE=y
#CONFIG_USB_SERIAL_FTDI_SIO=y

# USB NET
#CONFIG_USB_NET_DRIVERS=y
#CONFIG_USB_USBNET=y
#CONFIG_USB_NET_CDCETHER=y
#CONFIG_USB_NET_CDC_NCM=y
#CONFIG_USB_NET_CDC_SUBSET=y

# SPI GPIO
CONFIG_SPI_GPIO=y

# REGULATOR
CONFIG_REGULATOR=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y

# IPMI & IPMB
CONFIG_IPMI_HANDLER=y
CONFIG_IPMI_DEVICE_INTERFACE=y
CONFIG_IPMB_DEVICE_INTERFACE=y

# Aspeed SGPIO
CONFIG_GPIO_ASPEED_SGPIO=y

# Hwmon Sensors
CONFIG_PMBUS=y
CONFIG_SENSORS_ADS7828=y
CONFIG_SENSORS_ADC128D818=y
CONFIG_SENSORS_INA233=y
CONFIG_SENSORS_INA238=y
CONFIG_SENSORS_INA2XX=y
CONFIG_SENSORS_ISL28022=y
CONFIG_SENSORS_ISL68137=y
CONFIG_SENSORS_LTC4286=y
CONFIG_SENSORS_MAX31790=y
CONFIG_SENSORS_MP2869=y
CONFIG_SENSORS_MP2925=y
CONFIG_SENSORS_MP5990=y
CONFIG_SENSORS_MP9945=y
CONFIG_SENSORS_TDA38640=y
CONFIG_SENSORS_TMP421=y
CONFIG_SENSORS_TPS25990=y
CONFIG_SENSORS_XDPE152=y
CONFIG_SENSORS_XDP710=y
CONFIG_RICHTEK_RTQ6056=y

# I2C Mux
CONFIG_I2C_MUX_PCA954x=y

CONFIG_EEPROM_AT24=y
CONFIG_GPIO_PCA953X=y

# Enable loadable module
CONFIG_MODULES=y

# I3C
CONFIG_I3C=y
CONFIG_DW_I3C_MASTER=y
CONFIG_AST2600_I3C_MASTER=y
#CONFIG_I3C_HUB=y

# Aspeed UFS
CONFIG_SCSI_UFSHCD=y
CONFIG_SCSI_UFSHCD_PLATFORM=y
CONFIG_SCSI_UFS_ASPEED=y
CONFIG_SCSI=y
CONFIG_UFS_FS=y

# Aspeed Ethernet
CONFIG_PHY_ASPEED_SGMII=y

# Aspeed OTP
CONFIG_AST2700_OTP=y

# Uart DMA Drivers
CONFIG_DMADEVICES=y
CONFIG_ASPEED_AST2600_UDMA=y
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_ASPEED=y
CONFIG_SERIAL_8250_DMA=y

# Aspeed PCC
CONFIG_ASPEED_LPC_PCC=y

# APML
CONFIG_SENSORS_SBTSI=n
CONFIG_APML_SBRMI=y
CONFIG_APML_SBTSI=y
