#
## EEPROM
#
CONFIG_EEPROM_AT24=m

#
# USB serial drivers
#
CONFIG_USB_SERIAL=y
CONFIG_USB_SERIAL_CONSOLE=y
CONFIG_USB_SERIAL_FTDI_SIO=m

CONFIG_SSIF_IPMI_BMC=y
#
# I3C drivers
#
CONFIG_I3C=y
CONFIG_REGMAP_I3C=y

#
# APML driver
#
CONFIG_DEBUG_FS=y
CONFIG_APML_SBRMI=m
CONFIG_APML_SBTSI=m
CONFIG_APML_COMMON=m
CONFIG_APML_ALERTL=m
