#
## EEPROM
#
CONFIG_EEPROM_AT24=m

#
# USB serial drivers
#
CONFIG_USB_SERIAL=y
CONFIG_USB_SERIAL_CONSOLE=y
CONFIG_USB_SERIAL_FTDI_SIO=m

# I3C from APML
CONFIG_I3C=m
CONFIG_REGMAP_I3C=m

# Enable APML driver (required for come_identify.service)
CONFIG_APML_SBRMI=m
CONFIG_APML_SBTSI=m
