#
# Local configuration file for building the OpenBMC image.
#

# Machine Selection
# VBoot w/ TPM2.0
MACHINE ??= "fby3"
OLDEST_KERNEL = "5.0"

# PFR
# MACHINE ??= "fby3s"

# OpenBMC distro settings
DISTRO ?= "openbmc-fb-master"

