SUBSYSTEM=="platform", DEVPATH=="/devices/platform/ahb/1e630000.spi", DRIVER=="spi-aspeed-smc" RUN+="/bin/mkdir -p /run/devmap/spi-devices", RUN+="/bin/ln -sf /sys/%p /run/devmap/spi-devices/spi1-flash"
