# Target
CONFIG_TARGET_FB_AST_GEN_5=y
CONFIG_SYS_CONFIG_NAME="agc032a"
CONFIG_DEFAULT_DEVICE_TREE="agc032a"

# ARCH choices
CONFIG_ARM=y
CONFIG_ARCH_ASPEED=y
CONFIG_ASPEED_AST2500=y

# temp
CONFIG_ARCH_AST2500=y


# common configuration
CONFIG_DM_RESET=y
CONFIG_BAUDRATE=115200
CONFIG_NR_DRAM_BANKS=1
CONFIG_SYS_NS16550=y
CONFIG_CMD_IMI=y
CONFIG_OF_LIBFDT=y
CONFIG_OF_CONTROL=y
# CONFIG_OF_EMBED=y use for debug only
CONFIG_OF_SEPARATE=y
CONFIG_FIT=y
CONFIG_FIT_VERBOSE=y
# CONFIG_FIT_SIGNATURE=y
CONFIG_DM=y
CONFIG_DM_I2C=y
CONFIG_CMD_I2C=y
CONFIG_MISC=y
# CONFIG_TPM=y use for TPM support platform
# CONFIG_CMD_TPM=y
CONFIG_TIMER=y
# CONFIG_DISPLAY_CPUINFO is not set

# Migrate to upstream
CONFIG_CLK=y
CONFIG_WDT=y
CONFIG_WDT_ASPEED=y
CONFIG_SYSRESET=y
CONFIG_AST_TIMER=y
CONFIG_SPI=y
CONFIG_DM_SPI=y
CONFIG_SPI_FLASH=y
CONFIG_DM_SPI_FLASH=y
CONFIG_SPI_FLASH_MTD=y
CONFIG_SPI_FLASH_MACRONIX=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_CMD_SF=y

CONFIG_DM_ETH=y
CONFIG_FTGMAC100=y
CONFIG_PHY=y
CONFIG_PHYLIB=y
CONFIG_PHY_GIGE=y
CONFIG_PHY_BROADCOM=y
CONFIG_PINCTRL=y
CONFIG_DM_GPIO=y
CONFIG_ASPEED_GPIO=y


# Delta Extra
CONFIG_SYS_TEXT_BASE=0x0
CONFIG_SPI_BOOT=y
CONFIG_HUSH_PARSER=y
CONFIG_NETDEVICES=y
CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_BASE=0x1E784000
CONFIG_DEBUG_UART_CLOCK=24000000
CONFIG_BOOTDELAY=5
CONFIG_SYS_PROMPT="agc032a-boot=> "
CONFIG_ASPEED_ENABLE_DUAL_BOOT_WATCHDOG=y

# "image-meta" partition is introduced in IMG_LAYOUT_V1, and meanwhile
# u-boot-env size is decreased to 64KB.
CONFIG_FBOBMC_IMG_LAYOUT_VER=1

# Enable write default environment
CONFIG_ASPEED_WRITE_DEFAULT_ENV=y

# Disabled commands (save space)
CONFIG_CMD_IMLS=n
CONFIG_CMD_FDT=y
CONFIG_CMD_ELF=n
CONFIG_CMD_XIMG=n
# CONFIG_CMD_NET=n
CONFIG_EFI_LOADER=y
CONFIG_CMD_FPGA=n
CONFIG_CMD_SETEXPR=n

# debug
CONFIG_LOGLEVEL=7
