#
# Local configuration file for building the OpenBMC image.
#

# Machine Selection
MACHINE ??= "fbtp"

# OpenBMC distro settings
DISTRO ?= "openbmc-fb"

# The following will enable a build capable of verified-boot.
# Images and the resultant flash are always built as a FIT (firmware image).
# When verified-boot is enabled, the u-boot firmware attempts to be built as
# a ROM part and upgradable part using the SPL options.
#
# A public key must be configured, which will be built into the resultant ROM.
# During normal builds the ROM is not needed since the assumption is you have
# burned it after the first/initial build.
#
# Subsequent builds will need to be signed, thus an on-line private key is used.
# Development builds should use a key: openbmc-dev since the on-line build key
# is assumed to NOT be available within the burned-in ROM. A build host that
# have privileged access to a signed key can override within local.
#
# EXTRA_IMAGE_FEATURES += " verified-boot verified-boot-sign "
# VERIFIED_BOOT_KEYNAME = "openbmc-dev"
