# Copyright 2026-present Facebook. All Rights Reserved.
#
# This program file is free software; you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by the
# Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
# for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program in a file named COPYING; if not, write to the
# Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor,
# Boston, MA 02110-1301 USA

# Aristabmc-specific U-Boot configuration
CONFIG_USE_BOOTARGS=y
CONFIG_SHA256=y
CONFIG_SHA384=y
CONFIG_SHA512=y
CONFIG_CMD_OTP=y
CONFIG_PHY_FIXED=y

# Serial console on ttyS12 at 9600 baud
CONFIG_BAUDRATE=9600
CONFIG_BOOTARGS="console=ttyS12,9600n8 root=/dev/ram rw earlycon"

# Use Arista device tree instead of EVB default
CONFIG_DEFAULT_DEVICE_TREE="aspeed-bmc-facebook-aristabmc"
CONFIG_SYS_PROMPT="aristabmc-boot=> "

CONFIG_ASPEED_WDTA_TIMER_RELOAD=0x11E1A300

# CONFIG_FIT_SIGNATURE is not set
