[Unit]
Description=OEM Drive Fault SEL Monitor
After=xyz.openbmc_project.Logging.service
After=xyz.openbmc_project.LED.GroupManager.service
Wants=xyz.openbmc_project.Logging.service
Wants=xyz.openbmc_project.LED.GroupManager.service

[Service]
Restart=always
ExecStart=/usr/bin/drive-fault-monitor

[Install]
WantedBy=multi-user.target