[submodule "yocto/fido/meta-security"]
        path = yocto/fido/meta-security
        url = https://git.yoctoproject.org/git/meta-security
        branch = fido
[submodule "yocto/fido/poky"]
        path = yocto/fido/poky
        url = https://git.yoctoproject.org/git/poky
        branch = fido
[submodule "yocto/fido/meta-openembedded"]
        path = yocto/fido/meta-openembedded
        url = https://github.com/openembedded/meta-openembedded.git
        branch = fido
[submodule "yocto/krogoth/meta-security"]
        path = yocto/krogoth/meta-security
        url = https://git.yoctoproject.org/git/meta-security
        branch = krogoth
[submodule "yocto/krogoth/poky"]
        path = yocto/krogoth/poky
        url = https://git.yoctoproject.org/git/poky
        branch = krogoth
[submodule "yocto/krogoth/meta-openembedded"]
        path = yocto/krogoth/meta-openembedded
        url = https://github.com/openembedded/meta-openembedded.git
        branch = krogoth
[submodule "yocto/rocko/meta-security"]
        path = yocto/rocko/meta-security
        url = https://git.yoctoproject.org/git/meta-security
        branch = rocko
[submodule "yocto/rocko/poky"]
        path = yocto/rocko/poky
        url = https://git.yoctoproject.org/git/poky
        branch = rocko
[submodule "yocto/rocko/meta-openembedded"]
        path = yocto/rocko/meta-openembedded
        url = https://github.com/openembedded/meta-openembedded.git
        branch = rocko
