[Unit]
Description=Endpoint ID auto discovery
After=mctpd.service

[Service]
Restart=always
ExecStart=/usr/libexec/eid-auto-discovery.sh
SyslogIdentifier=eid-auto-discovery

[Install]
WantedBy=multi-user.target

