[Unit]
Description=Spatula startup

[Service]
EnvironmentFile=-@sysconfdir@/spatula.conf
ExecStart=/usr/local/bin/spatula_wrapper.py $SPATULA_ARGS
Restart=on-failure
UMask=0066

[Install]
WantedBy=multi-user.target
