// SPDX-License-Identifier: GPL-2.0+
// Delta Electronic, Inc.
/dts-v1/;

#include <dt-bindings/gpio/aspeed-gpio.h>
#include "ast2500-facebook-netbmc-common.dtsi"

/ {
	model = "DELTA AGC032A BMC";
	compatible = "delta,agc032a-bmc", "aspeed,ast2500";

	aliases {
		/*
		 * I2C switch 2-0075, pca9548, total 8 child channels
		 * assigned bus number 14-21.
		 */
		i2c14 = &imux14;
		i2c15 = &imux15;
		i2c16 = &imux16;
		i2c17 = &imux17;
		i2c18 = &imux18;
		i2c19 = &imux19;
		i2c20 = &imux20;
		i2c21 = &imux21;

		spi1 = &spi1;
		spi2 = &spi_gpio;

		serial0 = &uart1;
		serial4 = &uart5;
	};

	chosen {
		stdout-path = &uart5;
		bootargs = "console=ttyS4,115200n8 root=/dev/ram rw";
	};

	ast-adc-hwmon {
		compatible = "iio-hwmon";
		io-channels = <&adc 0>, <&adc 1>, <&adc 2>, <&adc 3>,
			      <&adc 4>, <&adc 5>, <&adc 6>, <&adc 7>,
				  <&adc 8>, <&adc 9>, <&adc 10>, <&adc 11>,
			      <&adc 12>, <&adc 13>, <&adc 14>, <&adc 15>;
	};

	spi_gpio: spi-gpio {
		status = "okay";
		compatible = "spi-gpio";
		#address-cells = <1>;
		#size-cells = <0>;

		gpio-sck = <&gpio ASPEED_GPIO(R, 3) GPIO_ACTIVE_HIGH>;
		gpio-mosi = <&gpio ASPEED_GPIO(R, 4) GPIO_ACTIVE_HIGH>;
		gpio-miso = <&gpio ASPEED_GPIO(R, 5) GPIO_ACTIVE_HIGH>;
		num-chipselects = <1>;
		cs-gpios = <&gpio ASPEED_GPIO(R, 2) GPIO_ACTIVE_LOW>;
	};
};

&fmc {
	status = "okay";

	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "spi0.0";
#include "facebook-bmc-flash-layout.dtsi"

		partitions {
			data0@1c00000 {
				reg = <0x1c00000 0x6400000>;
			};

			flash0@0 {
				reg = <0x0 0x8000000>;
			};
		};
	};

	flash@1 {
		status = "okay";
		m25p,fast-read;
		label = "spi0.1";

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			flash1@0 {
				reg = <0x0 0x8000000>;
				label = "flash1";
			};
		};
	};
};

&uart4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_txd4_default
		     &pinctrl_rxd4_default>;
};

&uart5 {
	status = "okay";
};

&mac1 {
	status = "okay";

	use-ncsi;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rmii2_default>;
};

&i2c0 {
	status = "okay";
	multi-master;
	bus-frequency = <1000000>;
	aspeed,hw-timeout-ms = <1000>;
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";

	i2c-switch@75 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x75>;

		imux14: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};

		imux15: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};

		imux16: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};

		imux17: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
		};

		imux18: i2c@4 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <4>;
		};

		imux19: i2c@5 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <5>;
		};

		imux20: i2c@6 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <6>;
		};

		imux21: i2c@7 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <7>;
		};
	};
};


&i2c3 {
	status = "okay";

	lm75@4f {
		compatible = "national,lm75";
		reg = <0x4f>;
	};
};

&i2c4 {
	status = "okay";

	lm75@4b {
		compatible = "national,lm75";
		reg = <0x4b>;
	};
	lm75@49 {
		compatible = "national,lm75";
		reg = <0x49>;
	};
	lm75@4a {
		compatible = "national,lm75";
		reg = <0x4a>;
	};
	lm75@4e {
		compatible = "national,lm75";
		reg = <0x4e>;
	};
};

&i2c5 {
	status = "okay";
};

&i2c6 {
	status = "okay";
};

&i2c7 {
	status = "okay";
};

&i2c8 {
	status = "okay";
};

&i2c9 {
	status = "okay";
};

&i2c10 {
	status = "okay";
};

&i2c11 {
	status = "okay";
};

&i2c12 {
	status = "okay";
};

&i2c13 {
	status = "okay";
};


&adc {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&uhci {
	status = "okay";
};

&sdhci1 {
	aspeed,sdhci-disable-dma;
};

&jtag {
	status = "okay";
};

&spi1 {
	status = "okay";
	compatible = "aspeed,ast2500-spi-master";

	spidev@0 {
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <8250000>;
		reg = <0>;
	};
};

&lpc_ctrl {
	// Enable lpc clock
	status = "okay";
	compatible = "aspeed,ast2500-lpc-ctrl";
};

&lpc_snoop {
	status = "okay";
	compatible = "aspeed,ast2500-lpc-snoop";
	snoop-ports = <0x80>;
};


&kcs2 {
	// BMC KCS channel 2
	status = "okay";
	kcs_addr = <0xca8>;
};

&kcs3 {
	// BMC KCS channel 3
	status = "okay";
	kcs_addr = <0xca2>;

};
