#
## EEPROM
#
CONFIG_EEPROM_AT24=m
#
## JTAG
#
CONFIG_JTAG=y
CONFIG_HAS_IOMEM=y
CONFIG_COMPILE_TEST=y
CONFIG_JTAG_ASPEED=y
CONFIG_JTAG_ASPEED_LEGACY_UIO=y
CONFIG_I3C=y
CONFIG_REGMAP_I3C=y
#
# Enable apml driver
#
CONFIG_DEBUG_FS=y
CONFIG_APML_COMMON=m
CONFIG_APML_SBRMI=m
CONFIG_APML_SBTSI=m
CONFIG_APML_ALERTL=m
#
# ASPEED SoC drivers for snoop
CONFIG_ASPEED_LPC_CTRL=y
CONFIG_ASPEED_LPC_SNOOP=y
